@charset "utf-8";
@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;

	-moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background-color: #000;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.asteroid {
	width: 300px;
	position: absolute;
	top: 20vh;
	left: calc(50% - 150px);
	-webkit-animation: asteroid-rotate 10s ease-in-out infinite alternate;
	animation: asteroid-rotate 10s ease-in-out infinite alternate;
}

@-webkit-keyframes asteroid-rotate {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}

@keyframes asteroid-rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

ship-1 {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 65vh;
	left: calc(50% - 50px);
	-webkit-animation: fly-up 2s ease-in forwards;
	animation: fly-up 2s ease-in forwards;
}

.ship-2 {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 65vh;
	left: calc(50% - 50px);
	-webkit-animation: ship-move 2s linear infinite alternate;
	animation: ship-move 2s linear infinite alternate;
	-webkit-animation-delay: 2s;
	animation-delay: 2s;
	opacity: 0;
}

@-webkit-keyframes ship-move {
	0% {
		-webkit-transform: translate(-350px,0) rotate(45deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(350px,0) rotate(-45deg);
		opacity: 1;
	}
}

@keyframes ship-move {
	0% {
		transform: translate(-350px,0) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: translate(350px,0) rotate(-45deg);
		opacity: 1;
	}
}

@-webkit-keyframes fly-up {
		0% {
		-webkit-transform: translate(0,500px);
	}
	50% {
		-webkit-transform: translate(0,0);
	}
	99.99%{
		-webkit-transform: translate(-350px,0) rotate(45deg);
		opacity: 1;
	}
	100% {
		-webkit-transform: translate(-350px,0) rotate(45deg);
		opacity: 0;
	}
}

@keyframes fly-up {
		0% {
		transform: translate(0,500px);
	}
	50% {
		transform: translate(0,0);
	}
	99.99%{
		transform: translate(-350px,0) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: translate(-350px,0) rotate(45deg);
		opacity: 0;
	}
}
